.container {
  width: 4.2rem;
  height: 2.4rem;
  padding: 2px;
  border: 1.5px solid #53c28b70;
  border-radius: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
