.container {
  display: inline-block;
  border: none;
  text-transform: capitalize;
  width: max-content;
  padding: 2rem;
  background-color: var(--clr-main);
  color: var(--clr-white);
  border-radius: 0.5rem;
  cursor: pointer;
}
