.container {
  .title {
  }

  .content {
    display: flex;
    align-items: center;
    gap: 10rem;

    .imgContainer {
      flex: 1;
      height: 50rem;
      position: relative;
    }

    .form {
      flex: 1;

      .input {
      }

      .textarea {
      }
    }
  }
}
