.container {
  .title {
    font-size: 6rem;
    margin-bottom: 10rem;
    text-align: center;
  }

  .content {
    display: flex;
    align-items: center;
    gap: 10rem;

    .imgContainer {
      flex: 1;
      height: 50rem;
      position: relative;
    }

    .form {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 2rem;

      .input,
      .textArea {
        display: inline-block;
        border: none;
        outline: none;
        padding: 2rem;
      }
    }
  }
}
