.mainTitle {
  font-size: 10rem;
}

.container {
  .selectTitle {
    margin: 2rem 0;
  }

  .items {
    display: flex;
    gap: 5rem;

    .item {
      &:link,
      &:visited {
        width: 30rem;
        height: 30rem;
        border: 0.5rem solid #bbb;
        border-radius: 0.5rem;
        position: relative;
      }

      .title {
        position: absolute;
        right: 1rem;
        bottom: 1rem;
        text-transform: capitalize;
        font-weight: bold;
        font-size: 4rem;
      }
    }
  }
}
