*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  font-size: 65%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #111;
  color: #bbb;
  line-height: 1.6;
  cursor: default;
}
