.container {
  display: flex;
  align-items: center;
  gap: 10rem;
  .item {
    flex: 1;

    .title {
    }

    .desc {
    }

    .button {
    }

    .img {
      width: 100%;
      height: 50rem;
      object-fit: cover;
    }
  }
}
