.footer {
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .imgContainer {
    width: 1.5rem;
    height: 1.5rem;
    position: relative;
  }
}
