.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;

  .form {
    width: 30rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .input {
      padding: 2rem;
      background-color: transparent;
      border: 2px solid #bbb;
      border-radius: 0.5rem;
    }
  }
}
