.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;

  .form {
    width: 30rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .input {
      padding: 2rem;
      font-weight: bold;
      font-size: 2rem;
      background-color: transparent;
      color: #bbb;
      border: 2px solid #bbb;
      border-radius: 0.5rem;
      outline: none;
    }

    .button {
      display: inline-block;
      border: none;
      text-transform: capitalize;
      font-weight: bold;
      width: 100%;
      padding: 2rem;
      background-color: var(--clr-main);
      color: #eee;
      border-radius: 0.5rem;
      cursor: pointer;

      &:hover {
        background-color: #49b07d;
      }
    }
  }

  .or {
    color: #bbb;
  }

  .link {
    &:link,
    &:visited {
      text-decoration: underline;
      text-underline-offset: 0.5rem;
      color: #7d7c7c;
      transition: all 0.3s ease;
    }

    &:active {
      color: currentColor;
    }

    &:hover {
      color: rgb(61, 61, 61);
    }
  }
}
