.container {
  .catTitle {
    display: inline-block;
    color: var(--clr-main);
  }

  .item {
    display: flex;
    gap: 5rem;
    margin-top: 5rem;
    margin-bottom: 10rem;

    .content {
      flex: 1;

      .title {
      }

      .desc {
      }
    }
  }

  .imgContainer {
    flex: 1;
    height: 50rem;
    position: relative;

    .img {
      object-fit: cover;
    }
  }
}
